/* 자주사용하는 속성 변수 설정 */
:root {
    --theme-font-color: #f7f1e3;
    --theme-btn-color: #ccae62;
    --theme-border : #7f8c8d3d;
}

/* Fonts */

@font-face {
    font-family: 'Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

/* --------------------------------General --------------------------------*/

* {
    box-sizing: border-box
}

body {
    margin: 0 0 0 var(--nav-width);
    font-family: "Regular", sans-serif;
    font-size: 18px;
    min-width: 480px !important;
}

nav {
    min-width: 395px;
}

#autoInput,
#length,
#width,
textarea,
input {
    font-family: "Regular", sans-serif;
    /* background: transparent; */
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom:2px solid var(--theme-border);
}

#attachment {
    border: none !important;
}

input[type=file]::file-selector-button {
    font-family: "Regular", sans-serif;
    margin-right: 1rem;
    background-color: white;
    border-radius: 10px;
    border-color:  var(--theme-border);
}

h1 {
    font-size: 6rem;
    margin-top: 3rem;
}

a,
h3 {
    letter-spacing: 2px;
    font-weight: 500;
}

i {
    display: none !important;
}


.fa-solid fa-bars {
    width: 200px;
}

i:hover, button:hover {
    cursor: pointer;
}
/* ------------------------------------Navigation ------------------------*/

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 130px;
    text-align: center;
    position: fixed;
    z-index: 99;
    background: var(--theme-font-color);
}

.nav-wrap {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto 4rem;
    position: relative;
}

#modal {
    width: 15rem;
    top: 8rem;
    right: 0;
    position: absolute;
    z-index: 1;
    background-color: var(--theme-font-color);

    padding: 1rem 4rem 2rem 1rem;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: flex-end;

    opacity:0
}

.display {
    opacity: 1 !important;
}

.nav-flexbox {
    display: flex;
    justify-content: center;
    align-items: baseline;
    /* width: 100%; */
    gap: 3rem;
}

.nav__link {
    text-decoration: none;
    color: #f7f1e3;
    z-index: 10;
    color: #222222;

}


.nav__link:hover {
    /* color: burlywood; */
    color: #ffda79;
}

nav img {
    /* flex-shrink: 0; */
    width: 200px;
    /* float: left; */
}



/*-------------------------------------- App------------------------- */

#app {
    text-align: center;
}

/* ------------------------------------Buttons----------------------- */

.button-wrapper {
    padding: 30px;
}

#next-btn {
    border: none;
    border-radius: 50px;
    background-color: #f7f1e3;
    padding: 15px 40px;
    color: #222222;
    font-size: 15px;
    line-height: 15px;
    text-decoration: none;
    font-weight: 600;
}

.reset-btn,
.board__caculate-btn {
    text-decoration: none;
    background-color: #3e8e41;
    border: none;
    padding: 15px 40px;
    margin-bottom: 20px;
    font-size: 15px;
    border-radius: 50px;
    color: white;
    font-weight: 600;
}

.reset-btn:hover,
#next-btn:hover {
    opacity: 80%;
    cursor: pointer;
}

/* -------------------------Progress Bar------------------------------------ */

#myProgress {
    /* position: relative; */
    width: 100%;
    height: 30px;
    background-color: var(--theme-font-color);
    position: fixed;
}

#myBar {
    position: absolute;
    height: 100%;
    background-color: #ffda79;
    z-index: 1;
}

/* ----------------------------------------------메인페이지 --------------------------------------*/

.home button {
    background: none;
    border: none;
}

.home-img {
    margin: 0;
    background-image: url(../img/background.jpg);
    background-size: 1950px;
    background-position: -39px -796px;
    /* 배경이미지 밝기조절 */
    filter: brightness(70%);

    /* background-size: cover; */
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    position: relative;
    z-index: -1;
}

.home-box {
    min-width: 50%;
    /* background-color: rgba(255, 255, 255, 0.623); */
    padding: 20px 100px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 130px;
    color: #f7f1e3;
}

/* -------------------------------Design 페이지 ---------------------------------*/

.design {
    background-color: var(--theme-font-color);
    height: 100vh;
    padding-top: 8rem;
}

.design #next-btn {
    background-color: var(--theme-btn-color);
    color: white;
}

.design .design-title {
    margin: 0;
    padding-top: 6rem;
    padding-bottom: 5rem;
    color: #222222;
}


.design__drag-border .design__drag-item {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.design__img-wrap {
    background-color: var(--theme-font-color);
    display: flex;
    justify-content: center;
}

.design__drag-img {
    object-fit: cover;
    border-radius: 50px;
    width: 60%;
    flex-wrap: wrap;
    cursor: move;
    display: flex;
    gap: 1rem;
}

.design__drag-item {
    width: 45%;
    height: 500px;
    object-fit: cover;
}

.design__drag-border {
    border: 5px solid #7f8c8d3d;
    background-color: white;
    padding: 1rem;
    margin: 0 1rem;
    border-radius: 20px;
    width: 30%;
}

.design__btn-wrap {
    background-color: var(--theme-font-color);
    padding: 50px;
}



.design__drag-item.dragging {
    opacity: 0.5;
}

/* .design__drag-zone {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--theme-font-color);
    padding: 2rem;
} */

.design__drag-zone-text h2 {
    color: #222222;
}

.design__drag-zone-text span,
.progress__inner span {
    color: #2ecc71;
}

.design__drag-zone-text {
    width: 100%;
}

/*---------------------------------------- Board 페이지 ----------------------------------------------------*/

.board {
    height: 100vh;
    padding-top: 8rem;
}

.board span {
    font-size: 15px;
    line-height: 50px;
}

.board label {
    line-height: 50px;
}

.board input {
    font-size: 20px;
}

.board hr {
    width: 30%;
}

.board__content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.board__calculator-unit {
    padding-bottom: 5rem;
    padding-top: 8rem;
}

.board__deadline {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.board__calculator-price {
    background-color: var(--theme-font-color);
    padding-bottom: 5rem;
    padding-top: 5rem;
}

.board__calculator-flex {
    display: flex;
    justify-content: center;
}

.board__btn-wrap {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.board__btn-flex {
    display: flex;
    align-items: end;
    bottom: 0;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 5rem;
}

.board__calculator-right,
.board__calculator-left {
    padding: 20px;
    margin-bottom: 20px;
}

.board__calculator-left {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.board__calculator-line {
    border: none;
    border-left: 5px solid white;
    height: 180px;
    margin: 0px 20px;
}

/* ------------------------------------Submit페이지 -----------------------------*/

.progress__inner {
    position: absolute;
    z-index: 2;
    right: 0;
    padding-top: 3px;
}

.progress__inner span {
    padding-right: 10px;
}


hr {
    margin-top: 5rem;
    border: 2px solid var(--theme-font-color);
    height: 50rem;
    width: 2px;
}


.submit {
    margin: 0;
    margin-top: 8rem;
}

.submit__content {
    padding: 8rem 2rem 0 2rem;
}

.submit__flex {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    gap: 2rem;
}

.submit__content-right {
    flex: 1;
    margin-top: 2rem,;
}

.submit__content-right form {
    background-color: var(--theme-font-color);
}

.submit__content-left {
    padding-right: 2rem;
}


.submit__content-left h3 {
    margin: 0;
    padding: 1rem;
}

.submit__result_wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: auto 2rem;
}

#preferred-style-image {
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

#preferred-style-image img {
    max-width: 32%;
}

#contact-form label {
    text-align: left;
}

#message {
    resize: vertical;
    height: 200px;
}

#contact-form {
    padding-top: 45px;
    margin: auto 2rem;
}

#contact-form input::placeholder,
#contact-form textarea::placeholder {
    font-size: 1rem;
}

#contact-form input,
#contact-form textarea {
    font-size: 20px;
    margin: 0 20px;
}

.form__input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.form__input-container label {
    margin-bottom: 8px;
}

.error-message {
    font-size: 12px;
    color: red;
    text-align: left;
    margin: 0.5rem 20px;
}

.submit__input-wrap {
    display: flex;
    justify-content: space-between;
}

#attachment {
    float: left;
}

.submit__button-wrap {
    margin: 20px;
    float: right;
}

#success-message {
    color: #f39c12;
    text-align: right;
}



/*------------------------------------- Media Queries------------------ */
@media screen and (min-width: 769px) and (max-width: 1024px) {

    hr {
        display: none;
    }
    
    .button-wrapper {
        padding: 0px;
    }

    .home-background .button-wrapper {
        margin-top: 4rem;
    }

    #preferred-style-image {
        display: flex;
        flex-wrap: wrap;
    }


    .board__btn-flex {
        display: inline-flex;
    }

    .submit__content-left{
        border: none;
    }

    .submit__input-wrap {
        flex-direction: column;
    }
    
    .submit__flex {
        flex-direction: column;
    }

    .submit__content-left {
        border: none;
        padding-right: 0;
    }
    .msg-btn {
        margin-top: 14px;
    }

    .reset-btn,
    .board__caculate-btn {
        margin: 0 30px;
    }

}


@media screen and (max-width: 768px) {


    hr {
        display: none;
    }

    .button-wrapper {
        padding: 0px;

    }

    .nav {
        width: 100%;
        height: 130px;
        text-align: center;
        position: fixed;
        z-index: 99;
    }

    .nav a {
        display: inline;
        text-align: center;
        padding: 12px;
    }

    i {
        display: inline-block !important;
    }

    .nav-flexbox :not(i){
        display: none !important;
    }


    body {
        --nav-width: auto;
    }

    #myProgress {
        top: 8rem;
    }

    .home-background {
        background-position: center;
    }

    .home-box {
        margin-top: 130px;
        padding: 10px;
    }

    .home-box h3 {
        margin-top: 1rem;
        margin-bottom: 3rem;
    }

    .board__btn-flex {
        display: inline-flex;
    }

    #next-btn {
        margin-right: 2px;
    }

    .board__calculator-flex {
        flex-wrap: wrap;
        justify-content: center;
    }

    .board__calculator-line {
        border-bottom: 5px solid white;
        height: 2px;
        width: 90%;
        margin: 0;
    }

    .board__deadline {
        padding-bottom: 0;
    }

    .submit {
        margin-top: 144px;
    }


    .submit h1 {
        margin-top: 1rem;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .submit h2 {
        font-size: 1.5em;
    }

    button.reset-btn.msg-btn {
        display: block;
    }
    .submit__content-left {
        border: none;
        padding-right: 0;
    }
    
    .submit__flex {
        flex-direction: column;
    }

    .submit__input-wrap {
        flex-direction: column;
    }

    
}

/* @media screen and (max-width: 480px) and (min-width: 320px) {



    #preferred-style-image {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin: 2rem;
    }

    #preferred-style-image img {
        max-width: 100%;
    }

    button.reset-btn.msg-btn {
        display: block;
    }

    .submit__input-wrap {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }


} */
