/* 자주사용하는 속성 변수 설정 */
:root {
    --theme-font-color: #f7f1e3;
    --theme-btn-color: #ccae62;
}


/* Fonts */
@font-face {
    font-family: 'English';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Korean';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* --------------------------------General --------------------------------*/

body{
    margin: 0 0 0 var(--nav-width);
    font-family: 'English', sans-serif;
    font-size: 18px;
}

#autoInput, #length, #width, input{
    background: transparent;
    border-top : none;
    border-right : none;
    border-left : none;
}

h1 {
    font-size: 6rem;
    margin-top: 3rem;
}

a, h3 {
    letter-spacing : 2px;
    font-family: 'Korean', sans-serif;
    font-weight: 500;
}
/* ------------------------------------Navigation ------------------------*/

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 130px;
    text-align: center;
    position: fixed;
    z-index: 99;
}

.nav.on {
    background: var(--theme-font-color);
}

.nav-wrap {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: auto 2rem;
}   

.nav-flexbox {
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 100%;
    gap: 3rem;
}

.nav__link {
    text-decoration: none;
    color: #f7f1e3;
}

.nav__link.on {
    color: #222222;
}


.nav__link:hover {
/* color: burlywood; */
color: #ffda79;
}


nav img {
    flex-shrink: 0;
    width: 200px;
    /* float: left; */
}

/*-------------------------------------- App------------------------- */

#app {
text-align: center;
}

/* ------------------------------------Buttons----------------------- */

.button-wrapper {
padding: 30px;
}

#next-btn {
    border: none;
    border-radius: 50px;
    background-color: #f7f1e3;
    padding: 15px 40px;
    color: #222222;
    font-size: 15px;
    line-height: 15px;
    text-decoration: none;
    font-weight: 600;
}

.reset-btn, .board__caculate-btn {
    text-decoration: none;
    background-color : #3e8e41;
    border: none;
    padding: 15px 40px;
    margin-bottom: 20px;
    font-size: 15px;
    border-radius: 50px;
    color: white;
    font-weight: 600;
}

.reset-btn:hover, #next-btn:hover {
    opacity: 80%;
    cursor: pointer;
}


/* -------------------------Progress Bar------------------------------------ */

#myProgress {
    /* position: relative; */
    width: 100%;
    height: 30px;
    background-color: var(--theme-font-color);
    position: fixed;
}

#myBar {
position: absolute;
height: 100%;
background-color: #ffda79;
z-index: 1;
}

/* ----------------------------------------------메인페이지 --------------------------------------*/


.home button {
    background: none;
    border: none;
}


.home-img {
    margin: 0;
    background-image: url(../img/background.jpg);

    /* 배경이미지 밝기조절 */
    filter: brightness(70%);
    background-position: 0rem;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    position: relative;
    z-index: -1;
}

.home-box {
    width: 50%;
    /* background-color: rgba(255, 255, 255, 0.623); */
    padding: 20px 100px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top : 130px;
    color: #f7f1e3;
}


/* -------------------------------Design 페이지 ---------------------------------*/

.design {
    background-color: var(--theme-font-color);
    height: 100vh;

}

.design #next-btn {
    background-color: var(--theme-btn-color);
    color: white;
}

.design .design-title {
    font-family: 'English', sans-serif;
    margin: 0;
    padding-top: 10rem;
    padding-bottom: 2rem;
    color: #222222;
}

.design__drag-border{
    border: 8px solid #222222;
    padding: 2rem;
    margin: auto 6rem;
    border-radius: 20px;

}

.design__img-wrap {
    background-color: var(--theme-font-color);
}

.design__btn-wrap {
    background-color: var(--theme-font-color);
    padding: 50px;
}

.design__drag-item.dragging {
    opacity: .5;
}

.design__drag-zone {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--theme-font-color);
    padding: 2rem;
}

.design__drag-zone img {
    border-radius: 50px;
    max-width: 20%;
    flex-basis: 20%;
    padding: 10px;
    /* background-color: white; */
    /* border: 1px solid black; */
    cursor: move;
}

.design__drag-zone-text h2 {
    color: #222222;

}

.design__drag-zone-text span, .progress__inner span {
    color: #2ecc71;
}

.design__drag-zone-text {
    width: 100%;
}




/*---------------------------------------- Board 페이지 ----------------------------------------------------*/


.board {
    height: 100vh;
}

.board span {
    font-size: 15px;
    line-height: 50px;
}

.board label {
    line-height: 50px;
}

.board input {
    font-size: 20px;
}

.board hr {
    width: 30%;
}

.board__content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.board__calculator-unit{
    padding-bottom: 5rem;
    padding-top : 12rem;
}

.board__deadline {
    padding-top : 5rem;
    padding-bottom: 5rem;
}

.board__calculator-price {
    background-color : var(--theme-font-color);
    padding-bottom: 20px;
    padding-top : 20px;

}

.board__calculator-flex {
    display: flex;
    justify-content: center;
}

.board__btn-wrap {
    margin-top: 20px;
    margin-bottom: 20px;
}

.board__btn-flex {
    display: flex;
    align-items: end;
    bottom: 0;
    justify-content: space-around;
    padding-top : 20px;
    padding-bottom : 5rem;
}

.board__calculator-right, .board__calculator-left {
    padding: 20px;
    margin-bottom: 20px;
}


.board__calculator-line {
    border: none;
    border-left: 5px solid white;
    height: 150px;
    margin: 0px 20px;
}

/* ------------------------------------Submit페이지 -----------------------------*/


.progress__inner {
    position: absolute;
    z-index: 2;
    right: 0;
}

.progress__inner span {
    padding-right : 10px;
}

.submit {
    margin: 0;
}

.submit h2 {
    margin: 0;
    padding-top: 90px;
    padding-bottom: 70px;
}

.submit__content-title {
    background-color: #d8dee288;
}

.submit__flex {
    display: flex;
    justify-content: center;
}

.submit__content-left, .submit__content-right {
    border: 5px solid #d8dee288;
}

.submit__content-left h2{
    margin: 0;
    padding: 1rem;
}

.submit__content-left h3{
    margin: 0;
    padding: 1rem;
    background-color: #d8dee288;

    
}

#preferred-style-image {
    display: flex;
    justify-content: space-evenly;
} 

#contact-form label { 
    text-align: left;
}

#message {
    resize: vertical;
    height: 200px;
}

#contact-form{
    padding-top : 45px;
}

#contact-form input::placeholder,
#contact-form textarea::placeholder {
    font-size: 20px;
}

#contact-form input,
#contact-form textarea {
    font-size: 20px;
    margin: 0 20px;
}

.form__input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.form__input-container label {
    margin-bottom: 8px;
}

.error-message {
    font-size: 12px;
    color: red;
    text-align: left;
    margin: 0 20px;
}

.submit__input-wrap {
    display: flex;
    justify-content: center;
}

#attachment {
    float: left;
}

.submit__button-wrap {
    margin : 20px;
    float: right;
}

#success-message {
    color: #f39c12;
    text-align: right;
}



/*------------------------------------- Media Queries------------------ */
/* 
@media screen and (min-width: 769px) and (max-width: 1024px){

    
    .home-box {
        padding: 10px;
    }

    #preferred-style-image {
        display: flex; 
        flex-wrap: wrap
    }
    
    .board__btn-flex  {
        display: inline-flex;
    }

    .submit__content-left, .submit__content-right {
        border: none;
    }

    .submit__input-wrap {
        display: block;
    }
    .msg-btn {
        margin-top: 14px;
    }

    .reset-btn, .board__caculate-btn {
        margin: 0 30px;   
    }

}


@media screen and (max-width: 768px){
    .nav {
        width: 100%;
        height: 130px;
        text-align: center;
        position: fixed;
        z-index: 99;
    }

    .nav a {
        display: inline;
        text-align: center;
        padding: 12px;
    }

    h1 {
        font-size: 30px;
        margin: 0.5rem;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 18px;
    }
    body {
        --nav-width: auto;
    }

    .button-wrapper {
        padding: 15px;
    }

    #myProgress {
        top: 8rem;
    }


    .home-background {
        background-position: center;
    }
    .home-box {
        margin-top : 130px;
        padding: 10px;
    }

    .design {
        margin-top: 130px;
    }

    .design__drag-zone {
        padding: 1rem;
    }

    .design__drag-zone img {
        padding: 0;
        max-width: 30%;
    }

    .board__btn-flex  {
        display: inline-flex;
    }

    #next-btn {
        margin-right: 2px;
    }

    .board__calculator-unit {
        margin-top: 150px;

    }

    .board__calculator-flex {
        flex-wrap: wrap;
        justify-content: center;
    }

    .board__calculator-line {
        border: none;
        border-left: 5px solid white;
        height: 80px;
        transform: rotate(90deg);
        margin: 0;
    }

    .board__deadline {
        padding-bottom: 0;
    } 

    .submit {
        margin-top: 144px;
    }
    .submit__flex {
        display: block;
    }
    .submit h1  {
        margin-top: 1rem;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    #preferred-style-image {
        display : flex;
        flex-direction: column;
    }

    button.reset-btn.msg-btn {
        display: block;
    }
} 

@media screen and (max-width: 480px) and (min-width: 320px){
    .nav a {
        display: inline;
        text-align: center;
        padding: 6px;
    }

    h1 {
        font-size: 20px;
        margin: 0.5rem;
    }

    h2 {
        font-size: 15px;
    }

    h3 {
        font-size: 15px;
    }

    #preferred-style-image {
        display : flex;
        flex-direction: column;
    }
    
    button.reset-btn.msg-btn {
        display: block;
    }
} */