@font-face {
    font-family : 'malgunbd';
    src : url(./font/malgunbd.ttf) 
}


body {
    --nav-width: 200px;
    margin: 0 0 0 var(--nav-width);
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
}

label, p, span, button, ::placeholder {
    font-family : 'Noto Sans KR', sans-serif;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--nav-width);
    height: 100vh;
    background: #222222;
}

.nav__link {
    display: block;
    padding: 12px 18px;
    text-decoration: none;
    color: #eeeeee;
    font-weight: 500;
}

.nav__link:hover {
    background: rgba(255, 255, 255, 0.05);
    color: burlywood;
}

#app {
    font-weight: 500;
    text-align: center;
}

nav img {
    width: 80%;
    display: block;
    margin: 18px auto 15px auto;
}

h1 {
    text-align: center;
}

button {
    border: none;
    border-radius: 20px;
    background-color: #f1c40f;
    padding: 10px 15px;
    font-family: 'malgunbd';
    color: #222222;
    font-size: 15px;
    line-height: 15px;
}

button:hover {
    color: white;
    cursor: pointer;
}

/* 메인페이지 */

.home-background {
    background-color: #222222;
    background-image: url(../img/sofa.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    /* background-position: center center; */
    height: 100vh;
    position: relative;

}

.home-box {
    background-color: rgba(255, 255, 255, 0.623);
    padding: 20px 100px;
    text-align: right;
    position: absolute;
    top: 15%;
    right: 10%;
}

.home-box  h1 {
    text-align: right;
}

/* Design 페이지 */
.design h1 {
    background-color: #222222;
    margin: 0;
    padding-top: 60px;
    padding-bottom: 30px;
    color: rgba(255, 255, 255, 0.788);
}

.design__btn-wrap {
    background-color: #222222;
    padding: 20px;
}

.design__drag-item.dragging {
    opacity: .5;
}

.design__drag-zone {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #222222;
    padding: 2rem;
    position: relative;
}

.design__drag-zone img {
    max-width: 20%;
    flex-basis: 20%;
    padding: 10px;
    background-color: white;
    border: 1px solid black;
    cursor: move;

}

.design__drag-zone-text h2 {
    color: white;
}

.design__drag-zone-text span {
    color: #2ecc71;
}

.design__drag-zone-text {
    width: 100%;
}

.design__drag-border{
    border: 10px solid white;
    border-style: dashed;
    padding: 2rem;
}

.design__btn-reset{
    margin-bottom: 2rem;
}


#myProgress {
    position: relative;
    width: 100%;
    height: 30px;
    background-color: grey;
}
#myBar {
    position: absolute;
    /* width: 33%; */
    height: 100%;
    background-color: #f39c12;
}

/* Board 페이지 */
#autoInput, #length, #width, input{
    background: transparent;
    border-top : none;
    border-right : none;
    border-left : none;
}

.board span {
    font-size: 15px;
    line-height: 50px;
}

.board label {
    line-height: 50px;
}

.board button {
}

.board input {
    font-size: 20px;
}

.board a {
    text-decoration: none;
    color : #222222;
}

.board a:hover {
    color : grey;
}

.board hr {
    width: 30%;
}

.board__content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.board__calculator-unit, .board__deadline {
    padding-bottom: 20px;
}

.board__calculator-price {
    background-color : #d8dee288;
    padding-bottom: 20px;

}

.board__calculator-flex {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.board__btn-wrap {
    padding: 20px;
}

.board__calculator-right, .board__calculator-left {
    padding: 20px;
    margin-bottom: 20px;
}


.board__calculator-line {
    border: none;
    border-left: 5px solid white;
    height: 150px;
    margin: 0px 20px;
}