@font-face {
    font-family : 'malgunbd';
    src : url(./font/malgunbd.ttf) 
}


body {
    --nav-width: 200px;
    margin: 0 0 0 var(--nav-width);
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
}


.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--nav-width);
    height: 100vh;
    background: #222222;
}

.nav__link {
    display: block;
    padding: 12px 18px;
    text-decoration: none;
    color: #eeeeee;
    font-weight: 500;
}

.nav__link:hover {
    background: rgba(255, 255, 255, 0.05);
    color: burlywood;
}

#app {
    text-align: center;
}

nav img {
    width: 80%;
    display: block;
    margin: 18px auto 15px auto;
}

h1 {
    text-align: center;
}

.button-wrapper {
    padding: 30px;
}

#next-btn {
    border: none;
    border-radius: 20px;
    background-color: #f1c40f;
    padding: 10px 15px;
    color: #222222;
    font-size: 15px;
    line-height: 15px;
    text-decoration: none;
    font-weight: 700;
}

#next-btn:hover {
    color: white;
    cursor: pointer;
    background-color: #3e8e41;
}


.reset-btn, .board__caculate-btn {
    text-decoration: none;
    background-color : #3e8e41;
    border: none;
    font-weight: 500;
    padding : 10px;
    margin-bottom: 20px;
    font-size: 15px;
    border-radius: 20px;
    color: white;
}

.reset-btn:hover {
    color : grey;
    cursor: pointer;
}

#myProgress {
    position: relative;
    width: 100%;
    height: 30px;
    background-color: grey;
}
#myBar {
    position: absolute;
    /* width: 33%; */
    height: 100%;
    background-color: #f39c12;
    z-index: 1;
}

/* ----------------------------------------------메인페이지 --------------------------------------*/


.home button {
    background: none;
    border: none;
}


.home-background {
    background-color: #222222;
    background-image: url(../img/sofa.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    /* background-position: center center; */
    height: 100vh;
    position: relative;

}

.home-box {
    background-color: rgba(255, 255, 255, 0.623);
    padding: 20px 100px;
    text-align: right;
    position: absolute;
    top: 15%;
    right: 10%;
}

.home-box  h1 {
    text-align: right;
}

/* -------------------------------Design 페이지 ---------------------------------*/
.design h1 {
    background-color: #222222;
    margin: 0;
    padding-top: 60px;
    padding-bottom: 30px;
    color: rgba(255, 255, 255, 0.788);
}

.design__btn-wrap {
    background-color: #222222;
    padding: 50px;
}

.design__drag-item.dragging {
    opacity: .5;
}

.design__drag-zone {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #222222;
    padding: 2rem;
    position: relative;
}

.design__drag-zone img {
    max-width: 20%;
    flex-basis: 20%;
    padding: 10px;
    background-color: white;
    border: 1px solid black;
    cursor: move;

}

.design__drag-zone-text h2 {
    color: white;
}

.design__drag-zone-text span, .progress__inner span {
    color: #2ecc71;
}

.design__drag-zone-text {
    width: 100%;
}

.design__drag-border{
    border: 10px solid white;
    border-style: dashed;
    padding: 2rem;
    margin: auto 4rem;
}

.design__img-wrap {
    background-color: #222222;
}


.board__btn-flex {
    display: flex;
    justify-content: space-around;
    padding-top : 20px;
    padding-bottom : 20px;
}
/*---------------------------------------- Board 페이지 ----------------------------------------------------*/
#autoInput, #length, #width, input{
    background: transparent;
    border-top : none;
    border-right : none;
    border-left : none;
}

.board span {
    font-size: 15px;
    line-height: 50px;
}

.board label {
    line-height: 50px;
}


.board input {
    font-size: 20px;
}


.board hr {
    width: 30%;
}

.board__content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.board__calculator-unit{
    padding-bottom: 20px;
    padding-top : 20px;
}

.board__deadline {
    padding-top : 20px;
    padding-bottom: 40px;
}

.board__calculator-price {
    background-color : #d8dee288;
    padding-bottom: 20px;
    padding-top : 20px;

}

.board__calculator-flex {
    display: flex;
    justify-content: center;
}

.board__btn-wrap {
    margin-top: 20px;
    margin-bottom: 20px;
}

.board__calculator-right, .board__calculator-left {
    padding: 20px;
    margin-bottom: 20px;
}


.board__calculator-line {
    border: none;
    border-left: 5px solid white;
    height: 150px;
    margin: 0px 20px;
}

/* ------------------------------------Submit페이지 -----------------------------*/


.progress__inner {
    position: absolute;
    z-index: 2;
    right: 0;
}

.progress__inner span {
    padding-right : 10px;
}

.submit {
    background-color: #222222;
    margin: 0;
}

.submit h1 {
    background-color: #222222;
    margin: 0;
    padding-top: 60px;
    padding-bottom: 30px;
    color: rgba(255, 255, 255, 0.788);
}

.submit__flex {
    display: flex;
    justify-content: center;
}

.submit__content-left {

    background-color: rgba(255, 255, 255, 0.781);
}

.submit__content-right {

    background-color: #f39c12;
}


#contact-form label { 
    text-align: left;
}

#message {
    resize: vertical;
    height: 200px;
}

#contact-form input::placeholder,
#contact-form textarea::placeholder {
    font-size: 20px;
}

#contact-form input,
#contact-form textarea {
    font-size: 20px;
    margin: 0 20px;
}

.form__input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.form__input-container label {
    margin-bottom: 8px;
}

.error-message {
    font-size: 12px;
    color: red;
    text-align: left;
    margin: 0 20px;
}

.submit__input-wrap {
    display: flex;
    justify-content: center;
}

#attachment {
    float: left;
}

.submit__button-wrap {
    margin : 20px;
    float: right;

}