@font-face {
    font-family : 'malgunbd';
    src : url(./font/malgunbd.ttf)
}

body {
    --nav-width: 200px;
    margin: 0 0 0 var(--nav-width);
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--nav-width);
    height: 100vh;
    background: #222222;
}

.nav__link {
    display: block;
    padding: 12px 18px;
    text-decoration: none;
    color: #eeeeee;
    font-weight: 500;
}

.nav__link:hover {
    background: rgba(255, 255, 255, 0.05);
    color: burlywood;
}

#app {
    /* margin: 2em; */
    line-height: 1.5;
    font-weight: 500;
    text-align: center;
    
}

nav img {
    width: 80%;
    display: block;
    margin: 18px auto 15px auto;
}

h1 {
    text-align: center;
}

button {
    border: none;
    border-radius: 20px;
    background-color: #f1c40f;
    padding: 10px 15px;
    font-family: 'malgunbd';
    color: #222222;
    font-size: 15px;
    line-height: 15px;
}

button:hover {
    color: white;
    cursor: pointer;
}


.home-background {
    background-color: #222222;
    background-image: url(../img/sofa.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    /* background-position: center center; */
    height: 100vh;
    position: relative;

}

.home-box {
    background-color: rgba(255, 255, 255, 0.623);
    padding: 20px 100px;
    text-align: right;
    position: absolute;
    top: 15%;
    right: 10%;
}

.design h1 {
    background-color: #222222;
    margin: 0;
    padding-top: 60px;
    padding-bottom: 30px;
    color: rgba(255, 255, 255, 0.788);
}

.design__btn-wrap {
    background-color: #222222;
    padding: 20px;
}

.design__drag-item {
    padding: 1rem;
    background-color: white;
    border: 1px solid black;
    cursor: move;
    max-width: 20%;
    flex-basis: 20%;
}

.design__drag-item.dragging {
    opacity: .5;
}

.design__drag-zone {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #222222;
    padding: 2rem;
    position: relative;
}

.design__drag-zone img {
    max-width: 20%;
    flex-basis: 20%;
    padding: 1rem;
    background-color: white;
    border: 1px solid black;
    cursor: move;

}


.design__drag-zone-text h2 {
    color: white;
}

.design__drag-zone-text span {
    color: #2ecc71;
}

.design__drag-zone-text {
    width: 100%;
}

.design__drag-border{
    border: 10px solid white;
    border-style: dashed;
    padding: 2rem;
}

.design__btn-reset{
    margin-bottom: 2rem;
}