/* Fonts */

@font-face {
    font-family: 'Englishfont';
    src: url(./font/malgunbd.ttf);
    unicode-range: U+0000-007F;
}

@font-face {
    font-family: 'Koreanfont';
    src: url(./font/Pretendard-SemiBold.ttf);
    unicode-range: U+AC00-D7A3;
}


/* --------------------------------General --------------------------------*/

body {
    --nav-width: 200px;
    margin: 0 0 0 var(--nav-width);
    font-family: 'EnglishFont', 'KoreanFont', sans-serif;
    font-size: 18px;
}


#autoInput, #length, #width, input{
    background: transparent;
    border-top : none;
    border-right : none;
    border-left : none;
}

h1 {
    margin-top: 3rem;
}
/* ------------------------------------Navigation ------------------------*/

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--nav-width);
    height: 100vh;
    background: #222222;
    width: 200px;
}

.nav__link {
    display: block;
    padding: 12px 18px;
    text-decoration: none;
    color: #eeeeee;
    font-weight: 500;
}

.nav__link:hover {
background: rgba(255, 255, 255, 0.05);
color: burlywood;
}


nav img {
    width: 80%;
    display: block;
    margin: 18px auto 15px auto;
}

/*-------------------------------------- App------------------------- */

#app {
text-align: center;
}

/* ------------------------------------Buttons----------------------- */

.button-wrapper {
padding: 30px;
}

#next-btn {
    border: none;
    border-radius: 20px;
    background-color: #f1c40f;
    padding: 10px 15px;
    color: #222222;
    font-size: 15px;
    line-height: 15px;
    text-decoration: none;
    font-weight: 700;
}

#next-btn:hover {
    color: white;
    cursor: pointer;
    background-color: #3e8e41;
}


.reset-btn, .board__caculate-btn {
    text-decoration: none;
    background-color : #3e8e41;
    border: none;
    font-weight: 500;
    padding : 10px;
    margin-bottom: 20px;
    font-size: 15px;
    border-radius: 20px;
    color: white;
}

.reset-btn:hover {
    color : grey;
    cursor: pointer;
}


/* -------------------------Progress Bar------------------------------------ */

#myProgress {
    /* position: relative; */
    width: 100%;
    height: 30px;
    background-color: grey;
    position: fixed;
}

#myBar {
position: absolute;
height: 100%;
background-color: #f39c12;
z-index: 1;
}

/* ----------------------------------------------메인페이지 --------------------------------------*/


.home button {
    background: none;
    border: none;
}


.home-background {
    margin: 0;
    background-color: #222222;
    background-image: url(../img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}

.home-box {
    background-color: rgba(255, 255, 255, 0.623);
    padding: 20px 100px;
    position: absolute;
    top: 5rem;
    left: 25%;
}


/* -------------------------------Design 페이지 ---------------------------------*/

.design {
    background-color: #222222;

    height: 100vh;
}
.design h1 {
    margin: 0;
    padding-top: 60px;
    padding-bottom: 30px;
    color: rgba(255, 255, 255, 0.788);
}

.design__drag-border{
    border: 10px solid white;
    border-style: dashed;
    padding: 2rem;
    margin: auto 4rem;
}

.design__img-wrap {
    background-color: #222222;
}

.design__btn-wrap {
    background-color: #222222;
    padding: 50px;
}

.design__drag-item.dragging {
    opacity: .5;
}

.design__drag-zone {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #222222;
    padding: 2rem;
}

.design__drag-zone img {
    max-width: 20%;
    flex-basis: 20%;
    padding: 10px;
    background-color: white;
    border: 1px solid black;
    cursor: move;
}

.design__drag-zone-text h2 {
    color: white;
}

.design__drag-zone-text span, .progress__inner span {
    color: #2ecc71;
}

.design__drag-zone-text {
    width: 100%;
}




/*---------------------------------------- Board 페이지 ----------------------------------------------------*/


.board {
    height: 100vh;
}

.board span {
    font-size: 15px;
    line-height: 50px;
}

.board label {
    line-height: 50px;
}

.board input {
    font-size: 20px;
}

.board hr {
    width: 30%;
}

.board__content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.board__calculator-unit{
    padding-bottom: 20px;
    padding-top : 20px;
}

.board__deadline {
    padding-top : 20px;
    padding-bottom: 40px;
}

.board__calculator-price {
    background-color : #d8dee288;
    padding-bottom: 20px;
    padding-top : 20px;

}

.board__calculator-flex {
    display: flex;
    justify-content: center;
}

.board__btn-wrap {
    margin-top: 20px;
    margin-bottom: 20px;
}

.board__btn-flex {
    display: flex;
    justify-content: space-around;
    padding-top : 20px;
    padding-bottom : 20px;
}

.board__calculator-right, .board__calculator-left {
    padding: 20px;
    margin-bottom: 20px;
}


.board__calculator-line {
    border: none;
    border-left: 5px solid white;
    height: 150px;
    margin: 0px 20px;
}

/* ------------------------------------Submit페이지 -----------------------------*/


.progress__inner {
    position: absolute;
    z-index: 2;
    right: 0;
}

.progress__inner span {
    padding-right : 10px;
}

.submit {
    margin: 0;
}

.submit h1 {
    margin: 0;
    padding-top: 90px;
    padding-bottom: 70px;
}

.submit__content-title {
    background-color: #d8dee288;
}

.submit__flex {
    display: flex;
    justify-content: center;
}

.submit__content-left, .submit__content-right {
    border: 5px solid #d8dee288;
}

.submit__content-left h2{
    margin: 0;
    padding: 1rem;
}

.submit__content-left h3{
    margin: 0;
    padding: 1rem;
    background-color: #d8dee288;

    
}

#preferred-style-image {
    display: flex;
    justify-content: space-evenly;
} 

#contact-form label { 
    text-align: left;
}

#message {
    resize: vertical;
    height: 200px;
}

#contact-form{
    padding-top : 45px;
}

#contact-form input::placeholder,
#contact-form textarea::placeholder {
    font-size: 20px;
}

#contact-form input,
#contact-form textarea {
    font-size: 20px;
    margin: 0 20px;
}

.form__input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.form__input-container label {
    margin-bottom: 8px;
}

.error-message {
    font-size: 12px;
    color: red;
    text-align: left;
    margin: 0 20px;
}

.submit__input-wrap {
    display: flex;
    justify-content: center;
}

#attachment {
    float: left;
}

.submit__button-wrap {
    margin : 20px;
    float: right;
}

#success-message {
    color: #f39c12;
    text-align: right;
}



/*------------------------------------- Media Queries------------------ */

@media screen and (max-width: 768px){
    .nav {
        width: 100%;
        height: 130px;
        text-align: center;
        position: fixed;
        z-index: 99;
    }

    .nav a {
        display: inline;
        text-align: center;
        padding: 12px;
    }

    .nav img {
        width: 50%;    
    }

    h1 {
        font-size: 30px;
        margin: 0.5rem;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 18px;
    }
    body {
        --nav-width: auto;
    }

    .button-wrapper {
        padding: 15px;
    }

    #myProgress {
        top: 8rem;
    }

    .home-background {
        background-position: center;
    }
    .home-box {
        position: static;
        margin-top : 130px;
        padding: 10px;
    }

    .design {
        margin-top: 130px;
    }

    .design__drag-zone {
        padding: 1rem;
    }

    .design__drag-zone img {
        padding: 0;
        max-width: 30%;
    }

    .design__btn-wrap {
        padding : 30px
    }


    .board__calculator-unit {
        margin-top: 150px;

    }

    .board__calculator-flex {
        flex-wrap: wrap;
        justify-content: center
    }

    .board__calculator-line {
        border: none;
        border-left: 5px solid white;
        height: 80px;
        transform: rotate(90deg);
        margin: 0;
    }

    .board__deadline {
        padding-bottom: 0;
    } 

    .submit {
        margin-top: 144px;
    }

    .submit h1  {
        margin-top: 1rem;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    #preferred-style-image {
    display: flex; 
        flex-wrap: wrap
    }

    .submit__flex {
        display: block;
    }
    .submit__content-left, .submit__content-right {
        border: none;
    }

    .submit__input-wrap {
        display: block;
    }

    .mgs-btn {
        margin-top: 14px;
    }
    
} 